<% include ../partials/header %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Edit <%= festival.name %></h1>

		<div style="width: 30%; margin: 35px auto;">
			<!-- Create form to add festival -->
			<form action="/festivals/<%= festival._id %>/?_method=PUT" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="festival[name]" value="<%= festival.name %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="festival[image]" value="<%= festival.image %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="festival[description]" value="<%= festival.description %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="festival[price]" value="<%= festival.price %>" min="0.01" step="0.01">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block">Submit</button>
				</div>
			</form>
			<!-- Link to festivals page -->
			<a href="/festivals">Go Back To Festivals Page</a>
		</div>
	</div>
</div>

<% include ../partials/footer %>