<% include ../partials/header%>

<!-- Create container -->
<div class="container">
	<div class="row">
		<!-- Create sidebar -->
		<div class="col-md-3">
			<!-- Add sidebar heading -->
			<p class="lead">FestHub</p>
			<!-- Add some placeholder data -->
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<!-- Create main area of page -->
		<div class="col-md-9">
			<!-- Create thumbnail class to hold festival info -->
			<div class="thumbnail">
				<!-- Add image -->
				<img class="img-responsive" src="<%= festival.image %>">
				<!-- Add festival name and description -->
				<div class="caption-full">
					<!-- <h4 class="pull-right">$<%= festival.price %></h4> -->
					<h4><a><%= festival.name %></a></h4>
					<p><%= festival.description %></p>
					<p>
						<em>Submitted by: <%= festival.author.username %></em>
					</p>
					<% if(currentUser && festival.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-xs btn-warning" href="/festivals/<%= festival._id %>/edit">Edit Festival</a>
						<form class="delete-form" action="/festivals/<%= festival._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete Festival</button>
						</form>
					<% } %>
				</div>
			</div>
			<!-- Create well class to display comments -->
			<div class="well">
				<!-- Button to add a new comment -->
				<div class="text-right">
					<a class="btn btn-success" href="/festivals/<%= festival._id %>/comments/new">Add New Comment</a>
				</div>
				<hr>
				<!-- Loop through and display comments, create new row for each comment -->
				<% festival.comments.forEach(function(comment){ %>
				<div class="row">
					<div class="col-md-12">
						<strong><%= comment.author.username %></strong>
						<span class="pull-right">10 Days ago</span>
						<p>
							<%= comment.text %>
						</p>
						<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
							<a class="btn btn-xs btn-warning" 
							   href="/festivals/<%= festival._id %>/comments/<%= comment._id %>/edit">
							   Edit
							</a>
							<form class="delete-form" action="/festivals/<%= festival._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<input class="btn btn-xs btn-danger" type="submit" value="Delete">
							</form>
						<% } %>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer%>